<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order_filter</key>
	<string>DESC</string>
	<key>sorting_filter</key>
	<string>event_rating</string>
	<key>radius_filter</key>
	<string>2km</string>
</dict>
</plist>
